:root {

    //SPACING
    --pad-xxs: .5em;
    --pad-xs: 1em;
    --pad-sm: 1.5em;
    --pad: 2em;
    --pad-lg: 2.5em;
    --pad-xlg: 3em;


  //FONTS
  --header-font: 'Yrsa', serif;
  --body-font: 'Fira Sans Condensed', sans-serif;

  //COLORS
  --light-color-1: #c3bceb;
  --medium-color-1: #5e2efd;
  --dark-color-1: #25246e;
  --light-color-2: #d7ebfc;
  --medium-color-2: #2a62fc;
  --dark-color-2: #17295f;
  --white: #e7f4fc;
  --red: #fa1515;
  --yellow: #fdc435;
  --green: #17eb4c;
}

//SCREEN SIZES
$screen-mobile: 48em;
$screen-tablet: 62em;
$screen-desktop: 75em;


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Yrsa:ital,wght@0,700;1,700&display=swap');
