.card {
    width: calc(100% - clac( var(--pad) * 2));
    box-sizing: border-box;
    background-color: var(--light-color-2);
    padding: var(--pad);
    margin: 0 0 var(--pad-sm);
    //box-shadow: 0px 0px 80px rgba(33, 35, 36, 0.103);
    border-radius: 8px;

    @media (min-width: $screen-desktop) {
      margin: 0;
    }

    &--dashboard {
      position: relative;
      min-width: max-content;
      flex: 1;
      overflow-y: scroll;
      padding-top: 0;
    }

    &--retro {
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: var(--pad-sm);
    }

    &__header {
      position: sticky;
      display: flex;
      top: 0;
      justify-content: space-between;
      padding: var(--pad) 0;
      background-color: var(--light-color-2);
    }

    &__list {
      margin: 0;
      padding: 0;
    }

    &__listing {
      padding: var(--pad-xs);
      display: grid;
      grid-gap: var(--pad-xxs);
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      border-radius: 8px;

      &:nth-child(even) {
        background-color: var(--light-color-3);
      }

      &:hover {
        background-color: var(--medium-color-2);
        cursor: pointer;
        color: var(--white);

        h2,h3,h4 {
          color: var(--white);
        }
      }
    }

    &__status {
        display: inline-block;
        width: var(--pad-xs);
        height: var(--pad-xs);
        border-radius: 50%;
        background-color: var(--medium-color-1);
        border: solid 1.5px var(--medium-color-2);

        &--green {
          @extend .card__status;
          background-color: var(--green);
        }
        &--yellow {
          @extend .card__status;
          background-color: var(--yellow);
        }
        &--red {
          @extend .card__status;
          background-color: var(--red);
        }
        &--absent {
          @extend .card__status;
          background-color: var(--light-color-4);
          border-color: var(--white);
        }

        &--submitted {
          @extend .card__status;
          position: relative;
          background-color: var(--medium-color-2);

          &:after {
            content: "";
            position: absolute;
            left: 4px;
            top: 1px;
            width: 4px;
            height: 10px;
            border: solid var(--light-color-2);
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
      }
    }
}
