.icon {
    &--light-1 {
        fill: var(--light-color-1);
    }
    &--light-2 {
        fill: var(--light-color-2);
    }
    &--medium-1 {
        fill: var(--medium-color-1);
    }
    &--medium-2 {
        fill: var(--medium-color-2);
    }
    &--dark-1 {
        fill: var(--dark-color-1);
    }
    &--dark-2 {
        fill: var(--dark-color-2);
    }

    &--stroke-light-1 {
        fill: none;
        stroke: var(--light-color-2);
        stroke-width: 10;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }
}

.user {
    &__icon {
        width: var(--pad);
        height: var(--pad);
        text-align: center;
        margin: 0 auto;

        svg {

        }

        .head {
            fill: var(--light-color-1);
        }
        .body {
            fill: var(--medium-color-2);
        }
        .crown {
            fill: var(--medium-color-2);
        }
    }

    &--absent {
        color: var(--light-color-4);

        .user__icon {
            .head {
                fill: var(--light-color-4);
            }
            .body {
                fill: var(--light-color-4);
            }
        }
      }

      &--admin {
        color: var(--medium-color-2);

        p {
            font-weight: 600;
        }

        .user__icon {
            .head {
            }
            .body {
                fill: var(--dark-color-2);
            }
        }
      }
}